* {
  box-sizing: border-box;
}
html,div, h1,h2,h3,h4,h5,h6,p,body{
  margin:0;
  padding: 0;
  border:0;
}
body {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.25px;
}

.container{
  width:24.75rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #F5F5F5;
}
@media screen   and (max-width: 768px){
  .container{
    top: 68%;
  }
}
.intro-image{
  width: 24.75rem;
  margin-bottom: 1rem;
}
.intro--main img{
  width: 100%;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
}
.intro--content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro--content a{
  text-decoration: none;
  color: #000000;
  opacity: 0.8;
}
.intro--content h5{
  color:#F47D27;
  line-height: 1.5;
  font-weight: 500;
}
.intro--content p{
  line-height: 1.5;
  font-size: 0.75rem;
}
.button--main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:1rem 0;
}
.button--main a{
  text-decoration: none;
}
.button--main button{
  cursor: pointer !important;
}
.email-button{
  width: 7.875rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
  border-radius: 0.375rem;
  border: 1px solid var(--gray-300, #D1D5DB);
  background: var(--white, #FFF);
  font-size: 1rem;
}
.email-button i{
  font-size:1rem;
}
.linkedin-button{
  font-size:1rem;
}
.linkedin-button{
  width: 7.875rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
  border-radius: 0.375rem;
  border: 1px solid var(--gray-300, #D1D5DB);
  background: #297FE5;
  color: #ffffff;
}

.main--content{
  padding:0 1.5rem 1.5rem 1.5rem;
}

.main--about,.main--interests{
  padding:0.5rem 0;
}

.main--content .content-title{
  padding:0.5rem 0;
  color:#297FE5;
  text-align: center;
}
.main--content .content-description{
  opacity: 0.7;
  font-size: 0.875rem;
  line-height: 1.5;
}

.footer--main{
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  background: #D5D4D8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer--main i.fa-brands{
  font-size: 200%;
  padding:15px 10px;
  color: #918E9B;
}